body {
    background: white;
}

.col {
    height: 200px;
    box-shadow: 2px 10px 10px lightgray;
    border: 1px solid lightgray;
    margin: 10px;
    border-radius: 15px;
}

.col1 {
    margin-left: 40px;
}

.col4 {
    margin-right: 40px;
}

.row1 {
    margin-top: 50px;
}

.container-fluid {
    padding: 20xp;
}